@import './variables';

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  // font-family: $primaryFont;
  font-family: Abhaya Libre ExtraBold;
  // background: $paleBeigeColor;
  color: $contentColor;
  font-size: $primaryFontSize;
  font-weight: 400;
}

a {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 160%;
  font-weight: 400;
}

ul,
ol {
  padding: 0;
  list-style: none;
  margin: 0;
  line-height: normal;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

.row > * {
  @media screen and (min-width: 1280px) {
    --bs-gutter-x: 44.22px;
  }
}

.primary-heading {
  color: $contentColor;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: normal;
  width: 90%;
  margin: 0 auto;
  font-family: Abhaya Libre;

  @media screen and (min-width: 1280px) {
    line-height: 131.25%;
    font-size: 32px;
  }
  @media screen and (min-width: 768px) {
    width: 100%;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.header-content {
  background-color: $whiteColor;
  color: $paleBeigeColor;
}
