$paleBeigeColor: #FFEEC8;
$intenseBrownColor: #C4D600;
$joinSectionBg: #372E2C;
$orangeGoldColor: #D47D00;

$whiteColor: #FFF;
$bgColor: #183028;
$contentColor: #183028;

$primaryFontSize: 1rem;

$primaryTransition: all ease-in-out .3s;