.peer-yogis {
  padding-bottom: 2rem;
  @media screen and (min-width: 48rem) {
    padding-bottom: 0;
  }
  .vertical-card {
    min-height: 100%;
    img {
      height: 50%;
      object-fit: cover;
      flex-shrink: 0;
    }
  }
  .card {
    overflow: hidden;
    img {
      object-fit: cover;
      object-position: center;
    }
    .card-body {
      background-color: $intenseBrownColor;
      padding: 4rem 2rem;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;

      @media screen and (min-width: 80rem) {
        padding: 1.5rem;
      }

      @media screen and (min-width: 87.5rem) {
        padding: 4rem 2rem;
      }
      p {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.75rem;
        color: $paleBeigeColor;
        text-align: left;
        & + p {
          margin-top: 0.8rem;
        }
        &.name {
          font-weight: 700;
          span {
            font-weight: normal;
          }
        }
      }
    }
  }
  .carousel-indicators {
    margin-bottom: -1.7rem;
    & [data-bs-target] {
      width: 0.625rem;
      height: 0.625rem;
      border-radius: 3.125rem;
      border: 0;
      margin: 0 0.3125rem;
      background-color: $intenseBrownColor;
    }
  }
}
